@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Sarabun', sans-serif;
    line-height: 1.8;
    min-height: 100vh;

}

.container {
    margin: 30px auto;
    width: 350px;
    border: 1px solid gray;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    margin: 60px;
    margin-top: 10px;
}

h3 {
    color: var(--primary-color);
    text-align: center;
    margin: 10px;
}

input[type="text"] {
    border: 1px solid rgb(112, 112, 112);
    border-radius: 2px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    outline: none;
}

.btn {
    background: purple;
    cursor: pointer;
    color: #ffffff;
    display: block;
    margin: 10px 0 30px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}


:root {
    --primary-color: #000;
    --secondary-color: #fff;
}


.time {
    font-size: 60px;
}

.toggle {
    cursor: pointer;
    background: var(--primary-color);
    color: var(--secondary-color);
    border: 0;
    border-radius: 4px;
    padding: 8px 12px;
    position: static;
    top: 450px;

}

html.dark {
    --primary-color: #fff;
    --secondary-color: #111;
}

html.dark {
    background: #111;
    color: var(--primary-color);
}

.count {
    font-size: 4rem;
    padding: 0 1rem;
    text-align: center;
}


.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
}

button {
    border: none;
    background: #28742e;
    padding: 10px;
    color: #fff;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.38);
    width: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.modal {
    background: white;
    border-radius: 6px;
    box-shadow: 0.2px 4px rgba(0, 0, 0, 0.25);
    padding: 30px 50px;
    width: 500px;
}

.modal h1,
.modal p {
    margin-bottom: 17px;
}

.show {
    opacity: 1;
    pointer-events: auto;
}